In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [19]:
# Replace the values with your actual credentials and AWS RDS endpoint
username = 'race_nus_rs'
password = '56xaT32L211F'
host = 'localhost'
port = '3306'  # default MySQL port number
dbname = 'recce'

# Create the connection string for the SQLAlchemy engine
# (you might need to replace 'mysql+pymysql' with the appropriate dialect)
connection_string = f'mysql+pymysql://{username}:{password}@{host}:{port}/{dbname}'

# Create the engine
engine = create_engine(connection_string)

In [44]:
# Write your SQL query
query = """SELECT *
FROM `recce`.post_feed
WHERE timestamp > (
  SELECT MAX(timestamp) FROM `recce`.post_feed
) - INTERVAL 7 DAY;"""

# Use pandas to load the query result into a DataFrame
df = pd.read_sql(query, engine)

In [40]:
# Write your SQL query
query = """SELECT *
FROM `recce`.user"""

# Use pandas to load the query result into a DataFrame
df = pd.read_sql(query, engine)

In [45]:
# Display the first few rows of the DataFrame
len(df)

4466295

In [46]:
df.head()

,activity_id,user_id,post_id,index,media_type,timestamp,video_duration,watch_time,recce_status
0,4e2c3980-722d-11ee-8080-80007b399c01,,05d1acd3-1edd-4f9c-8a97-9e1c7a26f287,0,IMAGE,2023-10-24 05:22:47,NaN,5086,ACTIVE
1,ffd0bed0-70c6-11ee-8080-80000b732c1c,,27fa2f81-bd61-4c73-a003-1c43ebb19dcb,0,IMAGE,2023-10-22 10:49:51,NaN,684892,ACTIVE
2,ffd0bed0-70c6-11ee-8080-80000b732c1c,,27fa2f81-bd61-4c73-a003-1c43ebb19dcb,0,IMAGE,2023-10-22 10:49:53,NaN,684892,ACTIVE
3,c1f3b7b0-709f-11ee-8080-800040978cf4,,4a8c2162-ed9d-43ea-8ee2-7371eb906534,0,IMAGE,2023-10-22 06:00:00,NaN,14500,ACTIVE
4,c1f3b7b0-709f-11ee-8080-800040978cf4,,4a8c2162-ed9d-43ea-8ee2-7371eb906534,0,IMAGE,2023-10-22 06:00:03,NaN,14500,ACTIVE

In [47]:
df.to_feather(r"/Users/ngcheekang/Documents/GitHub/nus_capstone_v2/datasets/new data/post_feed.feather")